<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>435779499089-pav4oevgbttjbndo660aa7vtrij3f62a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435779499089-pav4oevgbttjbndo660aa7vtrij3f62a</string>
	<key>API_KEY</key>
	<string>AIzaSyBB8QxYOBxEYHwPYgqxxs2sRHxa5zpvk2E</string>
	<key>GCM_SENDER_ID</key>
	<string>435779499089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Niky-Arora.MDBSocials</string>
	<key>PROJECT_ID</key>
	<string>mdbsocials2-dd05d</string>
	<key>STORAGE_BUCKET</key>
	<string>mdbsocials2-dd05d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435779499089:ios:be43fc5913b59c21</string>
	<key>DATABASE_URL</key>
	<string>https://mdbsocials2-dd05d.firebaseio.com</string>
</dict>
</plist>